@import './base.css';

body {
  display: flex;
  align-items: stretch;
  justify-content: stretch;
  overflow: hidden; /* Prevent body from scrolling */
  user-select: none;
}

#app {
  display: flex;
  width: 100vw;
  height: 100vh;
}

.container {
  display: flex;
  height: 100vh;
  width: 100%;
}

.sidebar {
  width: 260px;
  height: 100vh;
  border-right: 1px solid #ccc;
  padding: 30px;
  padding-top: 60px;
  background-color: #ebf8fb;
  flex-shrink: 0;
}

.content-left {
  width: 60%;
  padding: 10px 20px 20px 20px;
  overflow-x: hidden;
  overflow-y: auto;
  position: relative;
}

.content-right {
  width: 40%;
  padding: 10px 10px 20px 10px;
  position: relative;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.content-right::after {
  content: '';
  position: absolute;
  top: 20px;
  bottom: 20px;
  left: 0;
  width: 1.5px;
  background-color: #ccc;
}

.loader {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
}


/* scrollbar */
/* it is weird... the default scroll not working anymore... */
::-webkit-scrollbar {
  width: 12px;
  height: 12px;
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0);
  border-radius: 6px;
  border: 2px solid transparent;
  background-clip: padding-box;
  transition: background-color 0.3s;
}

:hover::-webkit-scrollbar-thumb,
:active::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.3);
}

::-webkit-scrollbar-thumb:hover {
  background-color: rgba(0, 0, 0, 0.5);
}

.control-panel {
  height: 200px;
  flex-shrink: 0;
  margin-bottom: 10px;
}

.scatter-plot-ctn {
  flex: 1;
  min-height: 0;
  position: relative;
  display: flex;
  flex-direction: column;
}